


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened" position="end">
  	<mat-toolbar color="primary" class="mat-elevation-z2">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
		Detail
  	</mat-toolbar>
    
    <app-pokemon-detail [pokemon]="pokemon"></app-pokemon-detail>

    
  </mat-sidenav>

  <mat-sidenav-content>

<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>Pokemon finder</span>
  </mat-toolbar-row>

	  <mat-toolbar-row>
	    <mat-form-field style="width: 100%;">
		<mat-label>Search</mat-label>
		<input matInput placeholder="Enter pokemon name..." [(ngModel)]="filter" (keyup.enter)="search()" matTooltip="Press enter to search">
		</mat-form-field> 
  </mat-toolbar-row>

</mat-toolbar>

<app-pokemon-list 
  [pokemons]="pokemons" 
  [length]="total"
  [page]="page"
  (onPokemonSelected)="detail($event)"
  (onPage)="paginate($event)"
></app-pokemon-list>

  </mat-sidenav-content>
</mat-sidenav-container>
