


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" position="end">
  	<mat-toolbar color="primary" class="mat-elevation-z2">
		Sidenav content
  	</mat-toolbar>
    
  </mat-sidenav>

  <mat-sidenav-content>

<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
    <span class="spacer"></span>
    <mat-icon matSuffix>search</mat-icon>
  </mat-toolbar-row>

	  <mat-toolbar-row>
	    <mat-form-field style="width: 100%;">
		<mat-label>Search</mat-label>
		<input matInput placeholder="Enter pokemon name...">
		</mat-form-field> 
  </mat-toolbar-row>

</mat-toolbar>

	<mat-list>
	  <mat-list-item *ngFor="let picture of pictures" role="option" (click)="detail(picture)">
	    <img matListAvatar src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="...">
	    <h3 matLine> {{picture.title}} </h3>
	  </mat-list-item>
	</mat-list>


  </mat-sidenav-content>
</mat-sidenav-container>







<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</mat-paginator>